main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm{
    margin-top: 50px;
    width: 30%;
    background-color: var(--bg-color);
    border: 1px solid var(--grey2);
    padding: 15px;
}
.containerForm > div{
    display: flex;
    justify-content: flex-end;
}
.containerForm > h2{
    margin-bottom: 10px;
}